@model ProyectoDeportivoCR.Models.UsuarioModel


<section class="section section-variant-1 bg-gray-100">
    <div class="container">
        <div class="row row-50 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-4">
                <div class="card-login-register" id="card-l-r">
                    <div class="card-top-panel">
                        <div class="card-top-panel-left">
                            <h5 class="card-title card-title-login">Información del Usuario</h5>
                        </div>
                    </div>
                    <div class="card-form card-form-login">
                        <div class="form-wrap">
                            <p><strong>Nombre:</strong></p>
                            <p>@Model.NombreUsuario</p>
                        </div>

                        <div class="form-wrap">
                            <p><strong>Apellidos:</strong></p>
                            <p>@Model.ApellidosUsuario</p>
                        </div>

                        <div class="form-wrap">
                            <p><strong>Correo:</strong></p>
                            <p>@Model.CorreoUsuario</p>
                        </div>

                        <div class="form-wrap">
                            <p><strong>Teléfono:</strong></p>
                            <p>@Model.TelefonoUsuario</p>
                        </div>

                        <a href="@Url.Action("ActualizarInformacionUsuario", "Usuario", new { id = Model.UsuarioId })" class="button button-lg button-primary button-block">Editar Información</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
