@model List<ProyectoDeportivoCR.Models.FacturaModel>


@{
    ViewData["Title"] = "Listado de Facturas";
}

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-4 text-center">Listado de Facturas</h2>
        </div>
    </div>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            </div>
        </div>
    }

    <div class="row mb-4">
        <div class="col-md-6 text-center mb-2">
            <a asp-controller="Facturas" asp-action="RegistrarFactura" class="btn btn-success btn-lg">
                Registrar Factura
            </a>
        </div>
        <div class="col-md-6 text-center mb-2">
            <a asp-controller="Facturas" asp-action="ObtenerFacturaPorId" class="btn btn-primary btn-lg">
                Buscar Factura
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header bg-info text-white">
                    <h4 class="mb-0">Facturas Registradas</h4>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Factura ID</th>
                                <th>Monto</th>
                                <th>Fecha y Hora</th>
                                <th>Usuario</th>
                                <th>Método de Pago</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var factura in Model)
                                {
                                    <tr>
                                        <td>@factura.FacturaId</td>
                                        <td>@factura.Monto.ToString("C")</td>
                                        <td>@factura.FechaHoraFactura.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>@factura.Comprobante</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="text-center">No se encontraron facturas.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
